# Build and temp files
*.jou
*.log
*.str
*.dmp
*.pb
*.wdb
*.vcd
*.dcp
dfx_runtime.txt
clockInfo.txt

# Vivado database
.cache/
.hw/
.ip_user_files/
.sim/
.Xil/
.gen/
.srcs/
xvlog*
xelab*
xsim*
xsim.dir/
sim/obj_dir/

# Generated bitstreams
*.bit
*.mcs

# OS files
.DS_Store
Thumbs.db
